* {
	box-sizing: border-box;
}

body {

	/* Typography Rules */

	color: #222222;
	font-size: 1em;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

::selection {
	background: #FFE799;
}

a {

	/* Typography Rules */

	font-weight: bold;
	text-decoration: none;
	color: #FFCF33;
}

a:hover {

	/* Tyopography Rules */

	color: #FFE799;
}

a:visited {

	/* Tyopgraphy Rules */

	color: #D1A000;
}

.masthead {

	/* Layout Rules */

	padding: 6em 0;

	/* Appearance Rules */

	background-image: url('../img/banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	border-top: solid 1em #FFCF33;
}

.body-copy, .questions, .social {

	/* Layout Rules */

	max-width: 38em;
}

.body-copy, .questions, .social, .heading {

	/* Layout Rules */

	margin-left: auto;
	margin-right: auto;
}

.header-copy {

	/* Layout Rules */

	margin-bottom: 0.1em;

	/* Typography Rules */

	color: #FFFFFF;
	font-family: "Gentium Book Basic", Georgia, serif;
	font-size: 2em;
	text-align: center;
}

.header-name {

	/* Layout Rules */

	margin-top: -0.2em;

	/* Typography Rules */

	color: #FFF1C2;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 6em;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0px 3px 0px #FFCF33;
}

[class^="content"] {

	/* Layout Rules */

	padding-left: 2em;
	padding-right: 2em;
}

.heading {

	/* Layout Rules */

	max-width: 19em;
	margin-top: 2em;
}

.body-copy {

	/* Typography Rules */

	font-weight: 300;
	text-align: left;
	letter-spacing: 0.05em;

}

.questions dt {

	/* Layout Rules */

	margin: 2em 0 1em 0;

	/* Typography Rules */

	color: #FFCF33;
	font-family: "Gentium Book Basic", Georgia, serif;
	font-size: 1.2em;
	font-weight: bold;
}

.questions dd {

	/* Layout Rules */

	margin-left: 0em;
}

.content-footer {

	/* Layout Rules */

	margin-top: 5em;
	padding: 4em 0;

	/* Appearance Rules */
	
	background-color: #594F49;
}

.content-footer .body-copy {

	/* Typography Rules */

	color: white;
	text-align: center;
}

.social {

	/* Layout Rules */

	padding: 0;
	text-align: center;

	/* Appearance Rules */

	list-style: none;
}

.social li {

	/* Layout Rules */

	display: inline-block;
	margin-right: 1em;
}
